<div class="p-grid">
  <div class="p-col-12">
    <h3>UTILIZADORES</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12">
          <button
            pButton
            pRipple
            type="button"
            label="Adicionar"
            class="p-button-raised p-mx-1"
            icon="pi pi-plus"
            routerLink="/user/new"
          ></button>

          <app-user-filter
            [(userFilter)]="filter"
            (setFilter)="setFilter($event)"
          ></app-user-filter>

          <p-divider></p-divider>
        </div>
      </div>

      <p-table
        [value]="users"
        [paginator]="true"
        [rows]="filter.rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
        [rowsPerPageOptions]="[10, 25, 50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [lazy]="true"
        [sortMode]="'single'"
        (onLazyLoad)="lazyLoad($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{ width: '30%' }" pSortableColumn="name">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '30%' }" pSortableColumn="email">
              E-mail <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '15%' }" pSortableColumn="profiles">
              Perfil <p-sortIcon field="profiles"></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '15%' }" pSortableColumn="createdAt">
              Cadastrado em <p-sortIcon field="createdAt"></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '10%' }"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{ rowData.person.name + " " + rowData.person.surname }}</td>
            <td>{{ rowData.person.email }}</td>
            <td>{{ rowData.group.name }}</td>
            <td>{{ rowData.createdAt | date : "dd/MM/yyyy" }}</td>
            <td class="p-p-0 table-actions">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-outlined"
                [routerLink]="['/user/index', rowData.id]"
              ></button>
              <button
                *ngIf="isAdmin"
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined"
                (click)="confirmDelete(rowData)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
