<div class="p-grid">
  <div class="p-col-12">
    <h3>AÇÕES DE AUDITORIA</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12">
          <button
            pButton
            pRipple
            type="button"
            label="Adicionar"
            class="p-button-raised p-mx-1"
            icon="pi pi-plus"
            routerLink="/audit/new"
          ></button>

          <app-audit-filter
            [(auditFilter)]="filter"
            (setFilter)="setFilter($event)"
          >
          </app-audit-filter>

          <p-divider></p-divider>
        </div>
      </div>

      <p-table
        [value]="audits"
        [paginator]="true"
        [rows]="filter.rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
        [rowsPerPageOptions]="[10, 25, 50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [lazy]="true"
        [sortMode]="'single'"
        (onLazyLoad)="lazyLoad($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{ width: '10%' }">Código</th>
            <th
              [ngStyle]="{ width: '30%' }"
              pSortableColumn="entityAuditedName"
            >
              Entidade auditada<p-sortIcon
                field="entityAuditedName"
              ></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '40%' }" pSortableColumn="description">
              Descrição<p-sortIcon field="description"></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '10%' }" pSortableColumn="createdAt">
              Registado em<p-sortIcon field="createdAt"></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '10%' }"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{ rowData.processCode }}</td>
            <td>{{ rowData.entityAudited.name }}</td>
            <td class="ellipsis">{{ rowData.description }}</td>
            <td>{{ rowData.createdAt | date : "dd/MM/yyyy" }}</td>
            <td class="p-p-0 table-actions">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-outlined"
                [routerLink]="['/audit/show', rowData.id]"
              ></button>
              <button
                *ngIf="isAdmin"
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined"
                (click)="confirmDeleteAudit(rowData)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
