<div class="p-grid">
  <div class="p-col-12">
    <h3>AÇÕES DE AUDITORIA</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <div class="p-fluid p-grid p-d-flex p-jc-end p-ai-center">
        <p-button type="button" class="p-mr-2" (click)="visibleSidebarFilter = true" icon="pi pi-filter"></p-button>

        <div class="p-field p-col-12 p-my-0 p-py-0">
          <p-divider></p-divider>
        </div>
      </div>

      <p-table [value]="audits" [paginator]="true" [rows]="filter.rows" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
        [rowsPerPageOptions]="[10,25,50]" [totalRecords]="totalRecords" [loading]="loading" [lazy]="true"
        (onLazyLoad)="lazyLoad($event)">
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{width:'15%'}">Código</th>
            <th>Entidade auditada</th>
            <th>Descrição</th>
            <th>Registado em</th>
            <th [ngStyle]="{width:'5%'}"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{rowData.processCode}}</td>
            <td>{{rowData.entityAudited.name}}</td>
            <td>{{rowData.description}}</td>
            <td>{{rowData.createdAt | date}}</td>
            <td class="p-p-0">
              <button pButton pRipple type="button" icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-outlined"
                [routerLink]="['/audit/show', rowData.id]"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" pTooltip="Novo" tooltipPosition="right"
            routerLink="/audit/new">
          </p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" pTooltip="Atualizar"
            tooltipPosition="left"></p-button>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<p-sidebar [(visible)]="visibleSidebarFilter" position="right" [baseZIndex]="10000" styleClass="p-sidebar-md">
  <form autocomplete="off" #f="ngForm" (ngSubmit)="read()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-col-12">
        <h2 style="font-weight:normal">Filtro de Auditoria</h2>
      </div>

      <div class="p-field p-col-12">
        <label for="processCode">Código de processo</label>
        <input id="processCode" type="text" pInputText name="processCode" [(ngModel)]="filter.processCode">
      </div>

      <div class="p-field p-col-6">
        <label for="number">Número</label>
        <input id="number" type="text" pInputText name="number" [(ngModel)]="filter.number">
      </div>

      <div class="p-field p-col-6">
        <label for="year">Ano</label>
        <p-dropdown [options]="yearsFilter" [(ngModel)]="filter.year" name="year" placeholder="Seleciona o ano"
          [showClear]="true"></p-dropdown>
      </div>
    </div>

    <button pButton pRipple type="button" label="Limpar" class="p-button-text p-button-raised p-mx-1"
      (click)="clearFilter(f)"></button>

    <button pButton pRipple type=" submit" label="Filtrar" class="p-button-raised p-button-info p-mx-1"></button>
  </form>
</p-sidebar>
