<div class="p-grid p-ai-stretch vertical-container">
  <div class="p-col">
    <app-icon-system></app-icon-system>
  </div>

  <div class="p-col">
    <div class="box box-stretched  p-shadow-1 p-d-flex p-jc-center p-ai-center"
      [ngStyle]="{background:'var(--white)', height: '90vh'}">
      <form autocomplete="off" #f="ngForm" (ngSubmit)="recoverPassword(f)">
        <div class="p-fluid p-formgrid p-grid" [ngStyle]="{width: '20rem'}">
          <div class="p-field p-col-12">
            <label for="code">Informe o código de recuperação</label>
            <input id="code" type="text" pInputText name="code" [(ngModel)]="code">
          </div>

          <div class="p-col-12 p-fluid">
            <button pButton pRipple type="submit" label="Validar" class="p-button-help"></button>

            <p class="p-ai-center p-text-center">
              <a href="javascript:;" routerLink="/forgot-password">
                Voltar
              </a>
            </p>

            <p-progressBar mode="indeterminate" [style]="{'height': '2px'}" *ngIf="loading"></p-progressBar>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
