<div class="p-grid p-ai-stretch vertical-container">
  <div class="p-col">
    <app-icon-system></app-icon-system>
  </div>

  <div class="p-col">
    <div class="box box-stretched  p-shadow-1 p-d-flex p-jc-center p-ai-center"
      [ngStyle]="{background:'var(--white)', height: '90vh'}">

      <form autocomplete="off" #f="ngForm" (ngSubmit)="changePassword(f)">
        <div class="p-fluid p-formgrid p-grid" [ngStyle]="{width: '20rem'}">
          <div class="p-col-12">
            <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
          </div>

          <div class="p-field p-col-12">
            <label for="firstname1">Nova senha</label>
            <p-password id="password" name="password" [(ngModel)]="user.password" [toggleMask]="true" [feedback]="false"
              #password="ngModel" [required]="true">
            </p-password>
            <app-message [control]="password" error="required" text="Informe a nova senha"></app-message>
          </div>

          <div class="p-field p-col-12">
            <label for="lastname1">Confirmar nova senha</label>
            <p-password id="passwordConfirm" name="passwordConfirm" [(ngModel)]="user.passwordConfirm"
              [toggleMask]="true" [feedback]="false" required="true" [required]="true" #passwordConfirm="ngModel">
            </p-password>
            <app-message [control]="passwordConfirm" error="required" text="Informe a nova senha"></app-message>
          </div>

          <div class="p-col-12 p-fluid">
            <button pButton pRipple type="submit" label="Confirmar" class="p-button-help"
              [disabled]="!f.valid ||loading"></button>

            <p class="p-ai-center p-text-center">
              <a href="javascript:;" routerLink="/recover-password">
                Voltar
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
