<button
  pButton
  pRipple
  type="button"
  icon="pi pi-pencil"
  class="p-button-rounded p-button-warning p-button-outlined"
  (click)="showDialog()"
></button>

<p-dialog
  header="Editar Nível de Cumprimento"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
>
  <form autocomplete="off" #f="ngForm" (ngSubmit)="update()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="name">Nome<span class="span-required">*</span></label>
        <input
          id="name"
          type="text"
          pInputText
          [(ngModel)]="complianceLevel.name"
          name="name"
          [ngStyle]="{ width: '100%' }"
          (input)="generateSlug($event)"
          required
        />
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      icon="pi pi-times"
      (click)="display = false"
      label="Cancelar"
      class="p-button-text"
    ></button>
    <button
      pButton
      type="button"
      [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
      (click)="f.ngSubmit.emit()"
      [disabled]="!f.form.valid || loading"
      label="Salvar"
      class="p-button-text"
    ></button>
  </ng-template>
</p-dialog>
