<div class="p-grid">
  <div class="p-col-12">
    <h3>NOVA ENTIDADE</h3>
  </div>

  <div class="p-col-12">
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '2px' }"
      *ngIf="loading"
    ></p-progressBar>
    <p-card>
      <form autocomplete="off" #f="ngForm" (ngSubmit)="create()">
        <div class="p-grid">
          <div class="p-col-12">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-chevron-left"
              class="p-button-text p-button-raised p-button-lg p-mx-1"
              routerLink="/entity/index"
            ></button>

            <button
              pButton
              pRipple
              type="submit"
              label="Salvar"
              class="p-button-raised p-button-lg p-mx-1"
              [disabled]="!f.valid || loading"
            ></button>

            <button
              pButton
              pRipple
              type="button"
              label="Novo"
              class="p-button-raised p-button-info p-button-lg p-mx-1"
            ></button>
            <p-divider></p-divider>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6">
            <label for="name">Nome<span class="span-required">*</span></label>
            <input
              id="name"
              type="text"
              pInputText
              name="name"
              [(ngModel)]="entity.name"
              required
            />
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="initial"
              >Iniciais<span class="span-required">*</span></label
            >
            <input
              id="initial"
              type="text"
              pInputText
              name="initial"
              [(ngModel)]="entity.initial"
              required
            />
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="level">Nível<span class="span-required">*</span></label>
            <p-dropdown
              id="level"
              [options]="levels"
              name="level"
              [(ngModel)]="entity.level"
              placeholder="Selecione"
              required="true"
            >
            </p-dropdown>
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="isAuditor"
              >Auditora<span class="span-required">*</span></label
            ><br />
            <p-inputSwitch
              id="isAuditor"
              name="isAuditor"
              [(ngModel)]="entity.auditor"
              required="true"
            ></p-inputSwitch>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4">
            <label for="district"
              >Distrito<span class="span-required">*</span></label
            >
            <input
              id="district"
              type="text"
              pInputText
              name="district"
              [(ngModel)]="entity.district"
              required
            />
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="city">Cidade<span class="span-required">*</span></label>
            <input
              id="city"
              type="text"
              pInputText
              name="city"
              [(ngModel)]="entity.city"
              required
            />
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="street">Rua<span class="span-required">*</span></label>
            <input
              id="street"
              type="text"
              pInputText
              name="street"
              [(ngModel)]="entity.street"
              required
            />
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
