<p-table [value]="users" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas" [rowsPerPageOptions]="[10,25,50]">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{rowData.person.name +' '+rowData.person.surname}}</td>
      <td>{{rowData.person.email}}</td>
      <td class="p-p-0">
        <button pButton pRipple type="button" icon="pi pi-trash"
          class="p-button-rounded p-button-danger p-button-outlined" (click)="remove(rowData.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
