<div class="p-grid">
  <div class="p-col-12">
    <h3>ENDEREÇOS</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <app-address-filter
        [(addressFilter)]="filter"
        (setFilter)="setFilter($event)"
      ></app-address-filter>

      <p-table
        [value]="addresses"
        [paginator]="true"
        [rows]="filter.rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
        [rowsPerPageOptions]="[10, 25, 50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [lazy]="true"
        (onLazyLoad)="lazyLoad($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Distrito</th>
            <th>Cidade</th>
            <th>Rua</th>
            <th>Data registo</th>
            <th [ngStyle]="{ width: '5%' }"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{ rowData.district }}</td>
            <td>{{ rowData.city }}</td>
            <td>{{ rowData.street }}</td>
            <td>{{ rowData.createdAt | date }}</td>
            <td class="p-p-0">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-outlined"
                [routerLink]="['/address/index', rowData.id]"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
          <p-button
            type="button"
            icon="pi pi-plus"
            styleClass="p-button-text"
            pTooltip="Novo"
            tooltipPosition="right"
            routerLink="/address/new"
          >
          </p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            icon="pi pi-refresh"
            styleClass="p-button-text"
            pTooltip="Atualizar"
            tooltipPosition="left"
          ></p-button>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
