<div class="p-grid">
  <div class="p-col-12">
    <h3>EQUIPAS DE TRABALHO</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <app-group-work-filter
        [(filter)]="filter"
        (setFilter)="setFilter($event)"
      ></app-group-work-filter>

      <p-table
        [value]="groupWorks"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
        [rowsPerPageOptions]="[10, 25, 50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="createdAt">
              Data de registo <p-sortIcon field="createdAt"></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '5%' }"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{ rowData.name }}</td>
            <td>{{ rowData.createdAt | date }}</td>
            <td class="p-p-0">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-outlined"
                [routerLink]="['/group-work/index', rowData.id]"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
          <p-button
            type="button"
            icon="pi pi-plus"
            styleClass="p-button-text"
            pTooltip="Adicionar nova equipa"
            tooltipPosition="right"
            routerLink="/group-work/new"
          >
          </p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            icon="pi pi-refresh"
            styleClass="p-button-text"
            pTooltip="Atualizar"
            tooltipPosition="left"
          ></p-button>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
