<p-table [value]="files" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{rowData.name}}</td>
      <td>{{rowData.description}}</td>
      <td class="p-p-0">
        <button pButton pRipple type="button" icon="pi pi-trash"
          class="p-button-rounded p-button-danger p-button-outlined"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-button type="button" icon="pi pi-plus" styleClass="p-button-text" pTooltip="Adicionar anexo" tooltipPosition="right"
  (click)="display=true">
</p-button>

<p-dialog header="Novo anexo" [(visible)]="display" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000">
  <form autocomplete="off" #f="ngForm" (ngSubmit)="create(f)">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="name">Descrição</label>
        <input id="name" type="text" pInputText [(ngModel)]="description" name="description" [ngStyle]="{width:'100%'}">
      </div>

      <div class="p-field p-col-12">
        <label for="name">Descrição</label>
        <input id="name" type="file" pInputText name="file" [ngStyle]="{width:'100%'}" (change)="onFileSelect($event)">
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="display=false" label="Cancelar" styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-check" (click)="f.ngSubmit.emit()" [disabled]="!f.form.valid" label="Salvar"
      styleClass="p-button-text">
    </p-button>
  </ng-template>
</p-dialog>
