<div class="p-grid">
  <div class="p-col-12">
    <h3>RECOMENDAÇÕES</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <div class="p-fluid p-grid p-d-flex p-jc-end p-ai-center">
        <div class="p-field p-col-12 p-md-2 p-my-0">
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" id="description" pInputText [(ngModel)]="filter.description">
            <label for="description">Código do processo</label>
          </span>
        </div>

        <div class="p-field p-col-12 p-md-1 p-px-0 p-mr-0 p-my-0">
          <button pButton pRipple type="button" icon="pi pi-search"
            class="p-button-rounded p-button-secondary p-button-raised"></button>
        </div>

        <div class="p-field p-col-12 p-my-0 p-py-0">
          <p-divider></p-divider>
        </div>
      </div>

      <p-table [value]="audits" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th>Número</th>
            <th>Descrição</th>
            <th>Constatação</th>
            <th>Medidas Tomadas</th>
            <th>Status</th>
            <th>Caráter</th>
            <th>Natureza</th>
            <th>Data Registo</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{rowData.number}}</td>
            <td>{{rowData.description}}</td>
            <td>{{rowData.constatation}}</td>
            <td></td>
            <td>{{rowData.status.name}}</td>
            <td>{{rowData.character.name}}</td>
            <td>{{rowData.nature.name}}</td>
            <td>{{rowData.createdAt | date}}</td>
            <td class="p-p-0">
              <button pButton pRipple type="button" icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-outlined"
                [routerLink]="['/recommendation/show', rowData.id]"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" pTooltip="Novo" tooltipPosition="right"
            routerLink="/recommendation/new">
          </p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-refresh" styleClass="p-button-text" pTooltip="Atualizar"
            tooltipPosition="left"></p-button>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
