<p-table [value]="recommendations" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th [ngStyle]="{width:'50%'}">Nº Rec.</th>
      <th [ngStyle]="{width:'50%'}">Carácter</th>
      <th [ngStyle]="{width:'50%'}">Nível de Risco</th>
      <th [ngStyle]="{width:'50%'}">Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td> {{ rowData.id }}</td>
      <td>{{ rowData.character.name }}</td>
      <td>{{ rowData.levelRisk.name }}</td>
      <td>{{ rowData.status.name }}</td>
    </tr>
  </ng-template>
</p-table>
