<div class="p-grid p-ai-stretch vertical-container">
  <div class="p-col">
    <app-icon-system></app-icon-system>
  </div>

  <div class="p-col">
    <div class="box box-stretched  p-shadow-1 p-d-flex p-jc-center p-ai-center"
      [ngStyle]="{background:'var(--white)', height: '90vh'}">
      <form action="">
        <div class="p-fluid p-formgrid p-grid" [ngStyle]="{width: '20rem'}">
          <div class="p-field p-col-12">
            <label for="firstname1">Nova senha</label>
            <input id="firstname1" type="text" pInputText>
          </div>

          <div class="p-field p-col-12">
            <label for="lastname1">Confirmar nova senha</label>
            <input id="lastname1" type="text" pInputText>
          </div>

          <div class="p-col-12 p-fluid">
            <button pButton pRipple type="button" label="Confirmar" class="p-button-help"
              routerLink="/password-confirmed"></button>

            <p class="p-ai-center p-text-center">
              <a href="javascript:;" routerLink="/recover-password">
                Voltar
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
