<div class="p-grid">
  <div class="p-col-12">
    <h3>NOVA EQUIPA DE TRABALHO</h3>
  </div>

  <div class="p-col-12">
    <p-progressBar mode="indeterminate" [style]="{'height': '2px'}" *ngIf="loading"></p-progressBar>
    <p-card>
      <form autocomplete="off" #f="ngForm" (ngSubmit)="create()">
        <div class="p-grid">
          <div class="p-col-12">
            <button pButton pRipple type="button" icon="pi pi-chevron-left"
              class="p-button-text p-button-raised p-button-lg p-mx-1" routerLink="/group-work/index"></button>

            <button pButton pRipple type="submit" label="Salvar" class="p-button-raised p-button-lg p-mx-1"></button>

            <button pButton pRipple type="button" label="Novo" routerLink="/group-work/new"
              class="p-button-raised p-button-info p-button-lg p-mx-1"></button>
            <p-divider></p-divider>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6">
            <label for="name">Nome</label>
            <input id="name" type="text" pInputText name="name" [(ngModel)]="groupWork.name">
          </div>

          <div class="p-field p-col-12">
            <label for="contact">Técnicos</label>
            <p-multiSelect [options]="users" name="users" [(ngModel)]="groupWork.users" required
              defaultLabel="Selecione os técnicos responsáveis" display="chip">
            </p-multiSelect>
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="createdAt">Registado em</label>
            <input id="createdAt" type="text" pInputText name="createdAt" [(ngModel)]="groupWork.createdAt" disabled>
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="updatedAt">Atualizado em</label>
            <input id="updatedAt" type="text" pInputText name="updatedAt" [(ngModel)]="groupWork.updatedAt" disabled>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
