<div class="p-grid statistic-container">
  <div class="p-col-4">
    <p-card>
      <span>Auditorias</span>
      <h3> {{basicInfo.totalAudits}} </h3>
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card>
      <span>Recomendações</span>
      <h3> {{basicInfo.totalRecommendations}} </h3>
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card>
      <span>Cumprimentos</span>
      <h3> {{basicInfo.totalCompliances}} </h3>
    </p-card>
  </div>
</div>

<div class="p-col-12">
  <div class="p-grid">
    <div class="p-col-5">
      <p-card subheader="Dados das Recomendações Deste Mês">
        <p-chart type="doughnut" [data]="monthDataSet"></p-chart>
      </p-card>
    </div>

    <div class="p-col-7">
      <p-card subheader="Dados das Recomendações do Ano Corrente">
        <p-chart type="bar" [data]="yearDataSet"></p-chart>
      </p-card>
    </div>
  </div>
</div>
