<div class="p-grid">
  <div class="p-col-12">
    <h3>NOVO UTILIZADOR</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <form autocomplete="off" #f="ngForm" (ngSubmit)="create()">
        <div class="p-grid">
          <div class="p-col-12">
            <button pButton pRipple type="button" icon="pi pi-chevron-left"
              class="p-button-text p-button-raised p-button-lg p-mx-1" routerLink="/user/index"></button>

            <button pButton pRipple type="submit" label="Salvar" class="p-button-raised p-button-lg p-mx-1"></button>

            <button pButton pRipple type="button" label="Novo"
              class="p-button-raised p-button-info p-button-lg p-mx-1"></button>
            <p-divider></p-divider>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4">
            <label for="name">Nome</label>
            <input id="name" type="text" pInputText name="name" [(ngModel)]="user.person.name">
          </div>

          <div class="p-field p-col-12 p-md-8">
            <label for="surname">Apelido</label>
            <input id="surname" type="text" pInputText name="surname" [(ngModel)]="user.person.surname">
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="bi">BI</label>
            <input id="bi" type="text" pInputText name="bi" [(ngModel)]="user.person.bi">
          </div>

          <div class="p-field p-col-12 p-md-8">
            <label for="email">E-mail</label>
            <input id="email" type="text" pInputText name="email" [(ngModel)]="user.person.email">
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="contact">Contacto</label>
            <input id="contact" type="text" pInputText name="contact" [(ngModel)]="user.person.contact">
          </div>

          <div class="p-field p-col-12 p-md-8">
            <label for="address">Endereço</label>
            <div class="p-inputgroup">
              <p-dropdown id="address" [options]="addresses" name="address" [(ngModel)]="user.person.address"
                placeholder="Selecione" [ngStyle]="{width: '100%'}">
              </p-dropdown>
              <app-fast-new [(addresses)]="addresses"></app-fast-new>
            </div>
          </div>

          <div class="p-field p-col-12 p-md-8">
            <label for="contact">Grupos</label>
            <p-multiSelect [options]="groups" name="groups" [(ngModel)]="user.groups" disabled
              defaultLabel="Selecione um ou mais grupos" display="chip" [filter]="false">
            </p-multiSelect>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
