<div class="p-grid">
  <div class="p-col-12">
    <h3>NOVO UTILIZADOR</h3>
  </div>

  <div class="p-col-12">
    <p-progressBar mode="indeterminate" [style]="{'height': '2px'}" *ngIf="loading"></p-progressBar>
    <p-card>
      <form autocomplete="off" #f="ngForm" (ngSubmit)="create()">
        <div class="p-grid">
          <div class="p-col-12">
            <button pButton pRipple type="button" icon="pi pi-chevron-left"
              class="p-button-text p-button-raised p-button-lg p-mx-1" routerLink="/user/index"></button>

            <button pButton pRipple type="submit" label="Salvar" class="p-button-raised p-button-lg p-mx-1"
              [disabled]="!f.valid || loading"></button>

            <button pButton pRipple type="button" label="Novo"
              class="p-button-raised p-button-info p-button-lg"></button>

            <p-divider> </p-divider>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4">
            <label for="name">
              Nome <span class="span-required">*</span>
            </label>
            <input id="name" type="text" pInputText name="name" [(ngModel)]="user.person.name" required>
          </div>

          <div class="p-field p-col-12 p-md-8">
            <label for="surname">
              Apelido <span class="span-required">*</span>
            </label>
            <input id="surname" type="text" pInputText name="surname" [(ngModel)]="user.person.surname" required>
          </div>

          <div class="p-field p-col-12 p-md-2">
            <label for="bi">
              BI <span class="span-required">*</span>
            </label>
            <input id="bi" type="number" pInputText name="bi" [(ngModel)]="user.person.bi" required>
          </div>

          <div class="p-field p-col-12 p-md-2">
            <label for="contact">Contacto</label>
            <input id="contact" type="text" pInputText name="contact" [(ngModel)]="user.person.contact" minlength="7"
              maxlength="15">
          </div>

          <div class="p-field p-col-12 p-md-8">
            <label for="email">
              E-mail <span class="span-required">*</span>
            </label>
            <input id="email" type="email" pInputText name="email" [(ngModel)]="user.person.email" required email>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="group">Perfil</label>
            <p-dropdown id="group" [options]="groups" name="group" [(ngModel)]="user.group.id" placeholder="Selecione"
              [ngStyle]="{width: '100%'}" [required]="true">
            </p-dropdown>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="entityAudited">Entidade</label>
            <p-dropdown id="entityAudited" [options]="entities" name="entity" [(ngModel)]="user.person.entity"
              placeholder="Selecione">
            </p-dropdown>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="address">
              Endereço <span class="span-required">*</span>
            </label>
            <div class="p-inputgroup">
              <p-dropdown id="address" [options]="addresses" name="address" [(ngModel)]="user.person.address.id"
                placeholder="Selecione" [ngStyle]="{width: '100%'}" [required]="true">
              </p-dropdown>
              <app-fast-new [(addresses)]="addresses"></app-fast-new>
            </div>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
