<div class="p-grid">
  <div class="p-col-12">
    <h3>CUMPRIMENTOS</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <app-compliance-filter
        [(filter)]="filter"
        (setFilter)="setFilter($event)"
      ></app-compliance-filter>

      <p-table
        [value]="compliances"
        [paginator]="true"
        [rows]="filter.rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
        [rowsPerPageOptions]="[10, 25, 50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [lazy]="true"
        (onLazyLoad)="lazyLoad($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nº Reco.</th>
            <th>Medidas tomadas</th>
            <th>Desc. da Avaliação</th>
            <th>Data de avaliação</th>
            <th>Nível de cumprimento</th>
            <th [ngStyle]="{ width: '5%' }"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{ rowData.recommendation.id }}</td>
            <td><span [innerHTML]="rowData.measuresTaken"></span></td>
            <td><span [innerHTML]="rowData.evaluationObs"></span></td>
            <td>{{ rowData.evaluatedAt | date }}</td>
            <td>{{ rowData.level.name }}</td>
            <td class="p-p-0">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-outlined"
                [routerLink]="['/compliance/show', rowData.id]"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
          <p-button
            type="button"
            icon="pi pi-plus"
            styleClass="p-button-text"
            pTooltip="Novo"
            tooltipPosition="right"
            routerLink="/compliance/new"
          >
          </p-button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            icon="pi pi-refresh"
            styleClass="p-button-text"
            pTooltip="Atualizar"
            tooltipPosition="left"
          ></p-button>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
