<div class="p-grid">
  <div class="p-col-12">
    <h3>CUMPRIMENTOS</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12">
          <button
            pButton
            pRipple
            type="button"
            label="Adicionar"
            class="p-button-raised p-mx-1"
            icon="pi pi-plus"
            routerLink="/compliance/new"
          ></button>

          <app-compliance-filter
            [(filter)]="filter"
            (setFilter)="setFilter($event)"
          ></app-compliance-filter>

          <p-divider></p-divider>
        </div>
      </div>

      <p-table
        [value]="compliances"
        [paginator]="true"
        [rows]="filter.rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
        [rowsPerPageOptions]="[10, 25, 50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [lazy]="true"
        [sortMode]="'single'"
        (onLazyLoad)="lazyLoad($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nº Cumprimento</th>
            <th pSortableColumn="recommendationNumber">
              Nº Reco. <p-sortIcon field="recommendationNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="evaluatedAt">
              Data de avaliação <p-sortIcon field="evaluatedAt"></p-sortIcon>
            </th>
            <th pSortableColumn="levelName">
              Nível de cumprimento <p-sortIcon field="levelName"></p-sortIcon>
            </th>
            <th [ngStyle]="{ width: '10%' }"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>---</td>
            <td>{{ rowData.recommendation.number }}</td>
            <td>{{ rowData.evaluatedAt | date }}</td>
            <td>{{ rowData.level.name }}</td>
            <td class="p-p-0 table-actions">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-warning p-button-outlined"
                [routerLink]="['/compliance/show', rowData.id]"
              ></button>
              <button
                *ngIf="isAdmin"
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined"
                (click)="confirmDelete(rowData)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
