<button
  pButton
  pRipple
  type="button"
  label="Filtrar"
  class="p-button-raised p-button-text p-button-plain p-mx-1"
  icon="pi pi-filter"
  (click)="openFilter = true"
></button>

<p-sidebar
  [(visible)]="openFilter"
  position="right"
  [baseZIndex]="10000"
  [style]="{ width: '30em', overflowY: 'scroll' }"
>
  <form #form="ngForm" (ngSubmit)="setFilter()">
    <h3 style="font-weight: normal">FILTROS DE UTILIZADORES</h3>

    <p-button
      type="submit"
      label="Filtrar"
      styleClass="p-button-success p-mr-2"
    ></p-button>

    <p-button
      type="button"
      (click)="resetFilter(form)"
      label="Limpar"
      styleClass="p-button-danger p-mr-2"
    >
    </p-button>

    <div class="p-field p-col-12 p-my-0 p-py-0">
      <p-divider></p-divider>
    </div>

    <div class="p-fluid p-grid">
      <div class="p-field p-col-12">
        <label for="name">Nome</label>
        <input
          id="name"
          type="text"
          pInputText
          name="name"
          [(ngModel)]="filter.name"
        />
      </div>

      <div class="p-field p-col-12">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="text"
          pInputText
          name="email"
          [(ngModel)]="filter.email"
        />
      </div>

      <div class="p-field p-col-12">
        <label for="entity">Entidade</label>
        <p-dropdown
          id="entity"
          [options]="entities"
          name="entity"
          [(ngModel)]="filter.entity"
          placeholder="Selecione"
        >
        </p-dropdown>
      </div>

      <div class="p-field p-col-12">
        <label for="group">Perfil</label>
        <p-dropdown
          id="group"
          [options]="groups"
          name="group"
          [(ngModel)]="filter.group"
          placeholder="Selecione"
        >
        </p-dropdown>
      </div>

      <div class="p-field p-col-12">
        <label for="createdAt">Data de Registo</label>
        <p-calendar
          id="createdAt"
          selectionMode="range"
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2000:2030"
          dateFormat="dd/mm/yy"
          name="createdAt"
          [(ngModel)]="filter.createdAt"
        >
        </p-calendar>
      </div>
    </div>
  </form>
</p-sidebar>
