<p-button
  type="button"
  icon="pi pi-plus"
  styleClass="p-button-text"
  pTooltip="Novo"
  tooltipPosition="right"
  (click)="showDialog()"
>
</p-button>

<p-dialog
  header="Novo Status de Auditoria"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
>
  <form autocomplete="off" #f="ngForm" (ngSubmit)="create(f)">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="name">Nome<span class="span-required">*</span></label>
        <input
          id="name"
          type="text"
          pInputText
          [(ngModel)]="auditStatus.name"
          name="name"
          required
          [ngStyle]="{ width: '100%' }"
          (input)="generateSlug($event)"
        />
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      icon="pi pi-times"
      (click)="display = false"
      label="Cancelar"
      class="p-button-text"
    ></button>
    <button
      pButton
      type="button"
      [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
      (click)="f.ngSubmit.emit()"
      [disabled]="!f.form.valid || loading"
      label="Salvar"
      class="p-button-text"
    ></button>
  </ng-template>
</p-dialog>
