<nav class="animated bounceInDown">
  <ul *ngIf="isAuditor || isAdmin">
    <li><a routerLink="/dashboard">Home</a></li>
    <li><a routerLink="/audit/index">Auditorias</a></li>
    <li><a routerLink="/recommendation/index">Recomendações</a></li>
    <li><a routerLink="/compliance/index">Cumprimentos</a></li>
    <li><a routerLink="/entity/index">Entidades</a></li>
    <li><a routerLink="/group-work/index">Equipas de Trabalho</a></li>
    <li><a routerLink="/user/index">Utilizadores</a></li>
    <li><a routerLink="/report/recommendation">Relatórios</a></li>
  </ul>

  <ul *ngIf="isAdmin">
    <p-divider></p-divider>
    <li class="sub-menu">
      <a href="javascript:;">
        Parâmetros
        <div class="pi pi-angle-down right"></div>
      </a>
      <ul>
        <li><a routerLink="/address/index">Endereços</a></li>
        <li><a routerLink="/entity-level/index">Níveis de Entidade</a></li>
        <li>
          <a routerLink="/compliance-level/index">Níveis de Cumprimentos</a>
        </li>
        <li>
          <a routerLink="/recommendation-status/index">
            Status de Recomendação
          </a>
        </li>
        <li>
          <a routerLink="/recommendation-nature/index">
            Natureza de Recomendação
          </a>
        </li>
        <li>
          <a routerLink="/recommendation-character/index">
            Caracteres de Recomendação
          </a>
        </li>
        <li>
          <a routerLink="/recommendation-level-risk/index">
            Níveis de Risco de Recomendação
          </a>
        </li>
        <li><a routerLink="/audit-type/index">Tipos de Auditoria</a></li>
        <li><a routerLink="/audit-status/index">Status de Auditoria</a></li>
      </ul>
    </li>

    <li class="sub-menu">
      <a href="javascript:;">
        Segurança
        <div class="pi pi-angle-down right"></div>
      </a>
      <ul>
        <li><a routerLink="/group/index">Grupos</a></li>
        <li><a routerLink="/activity/index">Atividades</a></li>
      </ul>
    </li>
  </ul>

  <ul *ngIf="isDefault">
    <p-divider></p-divider>
    <li><a routerLink="/audit/client/index">Auditorias</a></li>
    <li><a routerLink="/recommendation/client/index">Recomendações</a></li>
    <li><a routerLink="/compliance/client/index">Cumprimentos</a></li>
  </ul>
</nav>
