<nav class='animated bounceInDown'>
  <!-- *ngIf="isAdmin() || isSuperAdmin()" -->
  <ul>
    <li> <a routerLink="/dashboard">Home</a> </li>
  </ul>

  <ul *ngIf="isAuditor()">
    <li class='sub-menu'>
      <a href='javascript:;'>
        Auditorias
        <div class='pi pi-angle-down right'></div>
      </a>
      <ul>
        <li> <a routerLink="/audit/new">Registar</a> </li>
        <li> <a routerLink="/audit/index">Visualizar</a> </li>
        <li> <a routerLink="/audit-type/index">Tipos de Auditoria</a> </li>
        <li> <a routerLink="/audit-status/index">Status de Auditoria</a> </li>
        <li> <a routerLink="/group-work/index">Grupos de Trabalho</a> </li>
      </ul>
    </li>

    <li class='sub-menu'>
      <a href='javascript:;'>
        Recomendações
        <div class='pi pi-angle-down right'></div>
      </a>
      <ul>
        <li> <a routerLink="/recommendation/new">Registar</a> </li>
        <li> <a routerLink="/recommendation/index">Visualizar</a> </li>
        <li> <a routerLink="/recommendation-status/index">Status</a> </li>
        <li> <a routerLink="/recommendation-nature/index">Natureza</a> </li>
        <li> <a routerLink="/recommendation-character/index">Carácteres</a> </li>
        <li> <a routerLink="/recommendation-level-risk/index">Níveis de Risco</a> </li>
      </ul>
    </li>

    <li class='sub-menu'>
      <a href='javascript:;'>
        Cumprimentos
        <div class='pi pi-angle-down right'></div>
      </a>
      <ul>
        <li> <a routerLink="/compliance/new">Registar</a> </li>
        <li> <a routerLink="/compliance/index">Visualizar</a> </li>
        <li> <a routerLink="/compliance-level/index">Níveis de Cumprimentos</a> </li>
      </ul>
    </li>

    <li class='sub-menu'>
      <a href='javascript:;'>
        Entidades
        <div class='pi pi-angle-down right'></div>
      </a>
      <ul>
        <li> <a routerLink="/entity/new">Registar</a> </li>
        <li> <a routerLink="/entity/index">Visualizar</a> </li>
        <li> <a routerLink="/entity-level/index">Níveis de Entidade</a> </li>
      </ul>
    </li>

    <li class='sub-menu'>
      <a href='javascript:;'>
        Utilizadores
        <div class='pi pi-angle-down right'></div>
      </a>
      <ul>
        <li> <a routerLink="/user/new">Registar</a> </li>
        <li> <a routerLink="/user/index">Visualizar</a> </li>
      </ul>
    </li>

    <li class='sub-menu'>
      <a href='javascript:;'>
        Parâmetros
        <div class='pi pi-angle-down right'></div>
      </a>
      <ul>
        <li> <a routerLink="/address/index">Endereços</a> </li>
      </ul>
    </li>

    <li class='sub-menu'>
      <a href='javascript:;'>
        Segurança
        <div class='pi pi-angle-down right'></div>
      </a>
      <ul>
        <li> <a routerLink="/group/index">Grupos</a> </li>
        <li> <a routerLink="/activity/index">Atividades</a> </li>
      </ul>
    </li>
  </ul>

  <ul *ngIf="!isAuditor()">
    <li> <a routerLink="/audit/client/index">Auditorias</a> </li>
    <li> <a routerLink="/recommendation/client/index">Recomendações</a> </li>
    <li> <a routerLink="/compliance/client/index">Cumprimentos</a> </li>
  </ul>
</nav>
