<div class="wrapper">
  <section class="details-group">
    <details class="details">
      <summary class="details__summary">
        Utilizadores
      </summary>
      <div class="details__content">
        <ul>
          <li> <a routerLink="/user/new">Registar</a> </li>
          <li> <a routerLink="/user/index">Visualizar</a> </li>
        </ul>
      </div>
    </details>

    <details class="details">
      <summary class="details__summary">
        Segurança
      </summary>
      <div class="details__content">
        <ul>
          <li> <a routerLink="/group/index">Grupos</a> </li>
          <!-- <li> <a routerLink="/permission/index">Permissões</a> </li> -->
          <li> <a routerLink="/activity/index">Atividades</a> </li>
        </ul>
      </div>
    </details>

    <details class="details">
      <summary class="details__summary">
        Auditorias
      </summary>
      <div class="details__content">
        <ul>
          <li> <a routerLink="/audit/new">Registar</a> </li>
          <li> <a routerLink="/audit/index">Visualizar</a> </li>
        </ul>
      </div>
    </details>

    <details class="details">
      <summary class="details__summary">
        Grupos de Trabalho
      </summary>
      <div class="details__content">
        <ul>
          <li> <a routerLink="/group-work/new">Registar</a> </li>
          <li> <a routerLink="/group-work/index">Visualizar</a> </li>
        </ul>
      </div>
    </details>

    <details class="details">
      <summary class="details__summary">
        Recomendações
      </summary>
      <div class="details__content">
        <ul>
          <li> <a routerLink="/recommendation/new">Registar</a> </li>
          <li> <a routerLink="/recommendation/index">Visualizar</a> </li>
        </ul>
      </div>
    </details>

    <details class="details">
      <summary class="details__summary">
        Cumprimentos
      </summary>
      <div class="details__content">
        <ul>
          <li> <a routerLink="/compliance/new">Registar</a> </li>
          <li> <a routerLink="/compliance/index">Visualizar</a> </li>
        </ul>
      </div>
    </details>

    <details class="details">
      <summary class="details__summary">
        Entidades
      </summary>
      <div class="details__content">
        <ul>
          <li> <a routerLink="/entity/new">Registar</a> </li>
          <li> <a routerLink="/entity/index">Visualizar</a> </li>
        </ul>
      </div>
    </details>

    <details class="details">
      <summary class="details__summary">
        Parâmetros
      </summary>
      <div class="details__content">
        <ul>
          <li> <a routerLink="/address/index">Endereços</a> </li>
          <li> <a routerLink="/audit-type/index">Tipos de Auditoria</a> </li>
          <li> <a routerLink="/audit-status/index">Status de Auditoria</a> </li>
        </ul>
      </div>
    </details>
  </section>
</div>
