<div class="p-grid">
  <div class="p-col-12">
    <h3>NOVA RECOMENDAÇÃO</h3>
  </div>

  <div class="p-col-12">
    <p-progressBar mode="indeterminate" [style]="{'height': '2px'}" *ngIf="loading"></p-progressBar>
    <p-card>
      <form autocomplete="off" #f="ngForm" (ngSubmit)="create()">
        <div class="p-grid">
          <div class="p-col-12">
            <button pButton pRipple type="button" icon="pi pi-chevron-left"
              class="p-button-text p-button-raised p-button-lg p-mx-1" routerLink="/recommendation/index"></button>

            <button pButton pRipple type="submit" label="Salvar" class="p-button-raised p-button-lg p-mx-1"></button>

            <button pButton pRipple type="button" label="Novo"
              class="p-button-raised p-button-info p-button-lg p-mx-1"></button>
            <p-divider></p-divider>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-col-12">
            <p-fieldset legend="DADOS DA AÇÃO DE AUDITORIA" [toggleable]="true">
              <div class="p-grid">
                <div class="p-field p-col-12 p-md-3">
                  <label for="processCode">Código do processo de auditoria</label>
                  <span class="p-input-icon-right">
                    <i class="pi pi-spin pi-spinner" *ngIf="searchingAudit"></i>
                    <input id="processCode" type="text" pInputText name="processCode"
                      [(ngModel)]="processCode" (input)="getAuditByProcessCode($event)">
                  </span>
                </div>

                <div class="p-field p-col-12 p-md-9">
                  <label for="auditDescription">Descrição da ação</label>
                  <input id="auditDescription" type="text" pInputText name="auditDescription"
                    [(ngModel)]="audit.description">
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="dispatchedAt">Data de despacho (Homologação)</label>
                  <p-calendar id="dispatchedAt" name="dispatchedAt" [(ngModel)]="audit.dispatchedAt">
                  </p-calendar>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="reportedAt">Data de envio (Relatório Final)</label>
                  <p-calendar id="reportedAt" name="reportedAt" [(ngModel)]="recommendation.audit.reportedAt">
                  </p-calendar>
                </div>
              </div>
            </p-fieldset>
          </div>

          <div class="p-col-12 p-mt-4">
            <p-fieldset legend="REGISTO DA CONSTATAÇÃO E DETALHES DA RECOMENDAÇÃO" [toggleable]="true">
              <div class="p-grid">
                <div class="p-field p-col-12 p-md-6">
                  <label for="constatation">Descrição da constatação</label>
                  <p-editor name="constatation" [(ngModel)]="recommendation.constatation" [style]="{'height':'220px'}">
                    <ng-template pTemplate="header">
                      <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                      </span>
                    </ng-template>
                  </p-editor>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="description">Descrição da recomendação</label>
                  <p-editor name="description" [(ngModel)]="recommendation.description" [style]="{'height':'220px'}">
                    <ng-template pTemplate="header">
                      <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                      </span>
                    </ng-template>
                  </p-editor>
                </div>

                <div class="p-field p-col-12 p-md-2">
                  <label for="amount">Valor em causa</label>
                  <p-inputNumber inputId="amount" name="amount" [(ngModel)]="recommendation.amount" mode="currency"
                    currency="STN" locale="pt-PT">
                  </p-inputNumber>
                </div>

                <div class="p-field p-col-12 p-md-2">
                  <label for="status">Status</label>
                  <p-dropdown id="status" [options]="statuses" name="status" [(ngModel)]="recommendation.status">
                  </p-dropdown>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="nature">Natureza</label>
                  <p-dropdown id="nature" [options]="natures" name="nature" [(ngModel)]="recommendation.nature"
                    placeholder="Selecione">
                  </p-dropdown>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="character">Carácter</label>
                  <p-dropdown id="character" [options]="characters" name="character"
                    [(ngModel)]="recommendation.character" placeholder="Selecione">
                  </p-dropdown>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="levelRisk">Nível de risco</label>
                  <p-dropdown id="levelRisk" [options]="levelsRisk" name="levelRisk"
                    [(ngModel)]="recommendation.levelRisk" placeholder="Selecione">
                  </p-dropdown>
                </div>

                <div class="p-field p-col-12 p-md-3">
                  <label for="createdAt">Data de Registado</label>
                  <input id="createdAt" type="text" pInputText name="createdAt" [(ngModel)]="recommendation.createdAt"
                    disabled>
                </div>

                <div class="p-field p-col-12 p-md-3">
                  <label for="updatedAt">Data de atualização</label>
                  <input id="updatedAt" type="text" pInputText name="updatedAt" [(ngModel)]="recommendation.updatedAt"
                    disabled>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12">
            <p-tabView>
              <p-tabPanel header="Anexos">
                Em desenvolvimento
              </p-tabPanel>
              <p-tabPanel header="Cumprimentos">
                Em desenvolvimento
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
