<div class="p-grid">
  <div class="p-col-12">
    <h3>NOVA RECOMENDAÇÃO</h3>
  </div>

  <div class="p-col-12">
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '2px' }"
      *ngIf="loading"
    ></p-progressBar>
    <p-card>
      <form autocomplete="off" #f="ngForm" (ngSubmit)="create()">
        <div class="p-grid">
          <div class="p-col-12">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-chevron-left"
              class="p-button-text p-button-raised p-button-lg p-mx-1"
              routerLink="/recommendation/index"
            ></button>

            <button
              pButton
              pRipple
              type="submit"
              label="Salvar"
              class="p-button-raised p-button-lg p-mx-1"
              [disabled]="!f.valid || loading"
            ></button>

            <button
              pButton
              pRipple
              type="button"
              label="Novo"
              class="p-button-raised p-button-info p-button-lg p-mx-1"
            ></button>
            <p-divider></p-divider>
          </div>
        </div>

        <!-- <p-fieldset legend="DADOS DA AÇÃO DE AUDITORIA" [toggleable]="true"> -->
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4">
            <label for="processCode"
              >Código do processo de auditoria<span class="span-required"
                >*</span
              ></label
            >

            <div class="p-inputgroup">
              <input
                id="processCode"
                type="text"
                pInputText
                name="processCode"
                [(ngModel)]="audit.processCode"
                disabled
                required
              />
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-search"
                (click)="displayAudits = true"
              ></button>
            </div>
          </div>

          <div class="p-field p-col-12 p-md-8">
            <label for="auditDescription">Descrição da ação</label>
            <input
              id="auditDescription"
              type="text"
              pInputText
              name="auditDescription"
              [(ngModel)]="audit.description"
              disabled
            />
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="dispatchedAt">Data de despacho (Homologação)</label>
            <p-calendar
              id="dispatchedAt"
              name="dispatchedAt"
              [(ngModel)]="audit.dispatchedAt"
              disabled
            >
            </p-calendar>
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="reportedAt">Data de envio (Relatório Final)</label>
            <p-calendar
              id="reportedAt"
              name="reportedAt"
              [(ngModel)]="audit.reportedAt"
              disabled
            >
            </p-calendar>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6">
            <label for="constatation"
              >Conclusão<span class="span-required">*</span></label
            >
            <p-editor
              name="constatation"
              [(ngModel)]="recommendation.constatation"
              [style]="{ height: '120px' }"
              [required]="true"
            >
              <ng-template pTemplate="header">
                <span class="ql-formats">
                  <button
                    type="button"
                    class="ql-bold"
                    aria-label="Bold"
                  ></button>
                  <button
                    type="button"
                    class="ql-italic"
                    aria-label="Italic"
                  ></button>
                  <button
                    type="button"
                    class="ql-underline"
                    aria-label="Underline"
                  ></button>
                </span>
              </ng-template>
            </p-editor>
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="description"
              >Recomendação<span class="span-required">*</span></label
            >
            <p-editor
              name="description"
              [(ngModel)]="recommendation.description"
              [style]="{ height: '120px' }"
              [required]="true"
            >
              <ng-template pTemplate="header">
                <span class="ql-formats">
                  <button
                    type="button"
                    class="ql-bold"
                    aria-label="Bold"
                  ></button>
                  <button
                    type="button"
                    class="ql-italic"
                    aria-label="Italic"
                  ></button>
                  <button
                    type="button"
                    class="ql-underline"
                    aria-label="Underline"
                  ></button>
                </span>
              </ng-template>
            </p-editor>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="status"
              >Status<span class="span-required">*</span></label
            >
            <p-dropdown
              id="status"
              [options]="statuses"
              name="status"
              placeholder="Selecione"
              [(ngModel)]="recommendation.status.id"
              required="true"
            >
            </p-dropdown>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="amount">Valor em causa</label>
            <p-inputNumber
              inputId="amount"
              name="amount"
              [(ngModel)]="recommendation.amount"
              mode="currency"
              currency="STN"
              locale="pt-PT"
            >
            </p-inputNumber>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="nature"
              >Natureza<span class="span-required">*</span></label
            >
            <p-dropdown
              id="nature"
              [options]="natures"
              name="nature"
              [(ngModel)]="recommendation.nature.id"
              placeholder="Selecione"
              required="true"
            >
            </p-dropdown>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="character"
              >Carácter<span class="span-required">*</span></label
            >
            <p-dropdown
              id="character"
              [options]="characters"
              name="character"
              [(ngModel)]="recommendation.character.id"
              placeholder="Selecione"
              required="true"
            >
            </p-dropdown>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="levelRisk"
              >Nível de risco<span class="span-required">*</span></label
            >
            <p-dropdown
              id="levelRisk"
              [options]="levelsRisk"
              name="levelRisk"
              [(ngModel)]="recommendation.levelRisk.id"
              placeholder="Selecione"
              required="true"
            >
            </p-dropdown>
          </div>

          <div class="p-field p-col-12 p-md-4">
            <label for="complianceDeadline">Prazo para Cumprimento</label>
            <p-calendar
              id="complianceDeadline"
              name="complianceDeadline"
              [(ngModel)]="recommendation.complianceDeadline"
              [showTime]="true"
            >
            </p-calendar>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>

<p-dialog
  header="Lista de Auditorias"
  [(visible)]="displayAudits"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form class="p-formgroup-inline p-pt-2" (ngSubmit)="readAudits()">
    <div class="p-field">
      <span class="p-float-label">
        <input
          type="text"
          class="p-inputtext-sm"
          pInputText
          name="processCode"
          [(ngModel)]="filter.processCode"
        />
        <label for="inputtext">Código de Processo</label>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <input
          type="text"
          class="p-inputtext-sm"
          pInputText
          name="description"
          [(ngModel)]="filter.description"
        />
        <label for="inputtext">Descrição</label>
      </span>
    </div>

    <button pButton pRipple type="submit" label="Pesquisar"></button>
  </form>

  <p-table
    [value]="audits"
    [paginator]="true"
    [rows]="filter.rows"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th [ngStyle]="{ width: '15%' }">Código</th>
        <th>Entidade auditada</th>
        <th>Descrição</th>
        <th [style]="{ width: '4em' }"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{ rowData.processCode }}</td>
        <td>{{ rowData.entityAudited.name }}</td>
        <td>{{ rowData.description }}</td>
        <td class="p-p-0">
          <button
            type="button"
            pButton
            icon="pi pi-search"
            (click)="getAudit(rowData)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayAudits = false"
      label="Fechar"
      styleClass="p-button-text"
    >
    </p-button>
  </ng-template>
</p-dialog>
