<div class="p-grid p-ai-stretch vertical-container">
  <div class="p-col">
    <div class="box box-stretched p-shadow-1 p-d-flex p-flex-column p-jc-center p-ai-center"
      [ngStyle]="{background:'var(--purple-400)', height: '90vh'}">
      <img class="logo" src="/assets/img/logo.png" alt="IGF">
      <h2 class="p-text-center system-name">Sistema de Gestão de Recomendação</h2>
    </div>
  </div>

  <div class="p-col">
    <div class="box box-stretched  p-shadow-1 p-d-flex p-jc-center p-ai-center"
      [ngStyle]="{background:'var(--white)', height: '90vh'}">
      <form autocomplete="off" #f="ngForm">
        <div class="p-fluid p-formgrid p-grid" [ngStyle]="{width: '20rem'}">
          <div class="p-field p-col-12">
            <label for="firstname1">E-mail</label>
            <input type="email" pInputText name="email" [(ngModel)]="email" placeholder="root@igf.gov.st" required>
          </div>

          <div class="p-field p-col-12">
            <label for="lastname1">Senha</label>
            <p-password name="password" [(ngModel)]="password" [toggleMask]="true" [feedback]="false" required="true">
            </p-password>
          </div>

          <div class="p-col-12 p-fluid">
            <button pButton pRipple label="Entrar" type="button" class="p-button-help" (click)="signIn()"
              [disabled]="!f.valid || loading">
            </button>

            <p class="p-ai-center p-text-center">
              <a href="javascript:;" routerLink="/forgot-password">
                Esqueci minha senha
              </a>
            </p>

            <p-progressBar mode="indeterminate" [style]="{'height': '2px'}" *ngIf="loading"></p-progressBar>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
