<div class="p-grid">
  <div class="p-col-12">
    <h3>DETALHES DO GRUPO DE TRABALHO</h3>
  </div>

  <div class="p-col-12">
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '2px' }"
      *ngIf="loading"
    ></p-progressBar>
    <p-card>
      <form autocomplete="off" #f="ngForm" (ngSubmit)="update()">
        <div class="p-grid">
          <div class="p-col-12">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-chevron-left"
              class="p-button-text p-button-raised p-button-lg p-mx-1"
              routerLink="/group-work/index"
            ></button>

            <button
              pButton
              pRipple
              type="submit"
              label="Salvar"
              class="p-button-raised p-button-lg p-mx-1"
            ></button>

            <button
              pButton
              pRipple
              type="button"
              label="Novo"
              routerLink="/group-work/new"
              class="p-button-raised p-button-info p-button-lg p-mx-1"
            ></button>
            <p-divider></p-divider>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6">
            <label for="name">Nome</label>
            <input
              id="name"
              type="text"
              pInputText
              name="name"
              [(ngModel)]="groupWork.name"
            />
          </div>

          <div class="p-field p-col-12">
            <label for="contact">Técnicos</label>
            <p-multiSelect
              [options]="users"
              name="users"
              [(ngModel)]="groupWork.users"
              required
              defaultLabel="Selecione os técnicos responsáveis"
              display="chip"
            >
            </p-multiSelect>
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="createdAt">Registado em</label>
            <p-calendar
              id="createdAt"
              name="createdAt"
              [(ngModel)]="groupWork.createdAt"
              [disabled]="true"
              [showTime]="true"
              [showSeconds]="true"
            ></p-calendar>
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="updatedAt">Atualizado em</label>
            <p-calendar
              id="updatedAt"
              name="updatedAt"
              [(ngModel)]="groupWork.updatedAt"
              [disabled]="true"
              [showTime]="true"
              [showSeconds]="true"
            ></p-calendar>
          </div>

          <div class="p-col-12">
            <p-tabView>
              <p-tabPanel header="ELENCO">
                <app-cast [(users)]="groupWork.users"></app-cast>
              </p-tabPanel>

              <p-tabPanel header="AUDITORIAS REALIZADAS">
                <app-audit-by-group-work
                  *ngIf="groupWork.hasOwnProperty('id')"
                  [groupWork]="groupWork"
                ></app-audit-by-group-work>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
