<div class="p-grid">
  <div class="p-col-12">
    <h3>NÍVEIS DE CUMPRIMENTOS</h3>
  </div>

  <div class="p-col-12">
    <p-card>
      <p-table [value]="complianceLevels"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} linhas">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Slug</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{rowData.name}}</td>
            <td>{{rowData.slug}}</td>
            <td class="p-p-0">
              <app-show [complianceLevel]="rowData"></app-show>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <app-new [(complianceLevels)]="complianceLevels"></app-new>
    </p-card>
  </div>
</div>
