/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:300|Roboto:300,500");

:root {
  --white: #fff;
  --background: rgb(237, 241, 245); //#f2f3f5;
  --gray-line: #dcdde0;
  --title: #2e384d;
  --red: #e83f5b;
  --green: #4cd62b;
  --blue-twitter: #2aa9e0;
  --system-primary-color: #b23cfd;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

body,
input,
textarea,
button {
  font: 400 1rem "Roboto", sans-serif;
  color: #293845;
}

.ng-main {
  height: 100%;
}

.np-menubar {
  height: calc(100% - 100px);
  overflow: auto;
  background: #ffffff;
}

label {
  font-weight: 500;
}

a {
  color: var(--purple-500);
  text-decoration: none;
}

.span-required {
  color: var(--red);
  font-weight: 500;
}

.ng-content {
  overflow: auto;
  height: calc(100% - 100px);
}
