<div class="p-fluid p-grid p-d-flex p-jc-end p-ai-center">
  <p-button
    type="button"
    class="p-m-2"
    (click)="openFilter = true"
    icon="pi pi-filter"
    label="Filtrar"
  ></p-button>
</div>

<p-sidebar
  [(visible)]="openFilter"
  position="right"
  [baseZIndex]="10000"
  [style]="{ width: '30em', overflowY: 'scroll' }"
>
  <form #form="ngForm" (ngSubmit)="setFilter()">
    <h3 style="font-weight: normal">FILTROS DE UTILIZADORES</h3>

    <p-button
      type="submit"
      label="Filtrar"
      styleClass="p-button-success p-mr-2"
    ></p-button>

    <p-button
      type="button"
      (click)="resetFilter(form)"
      label="Limpar"
      styleClass="p-button-danger p-mr-2"
    >
    </p-button>

    <div class="p-field p-col-12 p-my-0 p-py-0">
      <p-divider></p-divider>
    </div>

    <div class="p-fluid p-grid">
      <div class="p-field p-col-12">
        <label for="name">Nome</label>
        <input
          id="name"
          type="text"
          pInputText
          name="name"
          [(ngModel)]="filter.name"
        />
      </div>

      <div class="p-field p-col-12">
        <label for="createdAt">Data de Registo</label>
        <p-calendar
          id="createdAt"
          selectionMode="range"
          name="createdAt"
          [(ngModel)]="filter.createdAt"
        >
        </p-calendar>
      </div>
    </div>
  </form>
</p-sidebar>
